body {
  background: gray;
}

h1 {
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
  font-size: 90px;
  line-height: 1.5;
  letter-spacing: .025em;
  text-transform: full-width;
  color: #000000;
}
